* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    touch-action: none;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

canvas {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    user-select: none;
    background: #000;
    cursor: pointer;
}

body,
input {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    font-family: Microsoft yahei, Song, Arial, Helvetica, Tahoma, Geneva;
}

p a {
    list-style: none;
    text-decoration: none;
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 889;
    font-size: 20px;
    color: white;
}

p a:hover {
    text-decoration: none;
    color: #ccc;
}

.container {
    z-index: 888;
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: -15px 15px 15px rgba(6, 17, 47, 0.7);
    background: #35394a;
    /* Old browsers */
    /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #35394a), color-stop(100%, rgb(0, 0, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(230deg, rgba(53, 57, 74, 0) 0%, rgb(0, 0, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: linear-gradient(230deg, rgba(53, 57, 74, 0) 0%, rgb(0, 0, 0) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='rgba(53, 57, 74, 0)', endColorstr='rgb(0, 0, 0)', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    /* left: 20%; */
    color: #ccc;
}

h1 {
    margin-bottom: 15px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    background: black;
}

#comment {
    overflow: hidden;
}

#comment p {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

#comment p {
    border: 1px solid #d29353;
}

#comment p:hover {
    background: linear-gradient(230deg, rgb(0, 0, 0) 0%, #b37437 100%);
}


/*#comment p span{display:inline; float:left;}*/

#comment p .right {
    text-align: right;
}

#comment p .phone {
    width: 738px;
}

.thetime {
    float: right;
    color: #d29353;
}

#clearBt {
    position: relative;
    margin-top: 20px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    background: transparent;
    padding: 10px 50px;
    border: 1px solid #d29353;
    color: #d29353;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-transition-property: background, color;
    transition-property: background, color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}

#clearBt:focus {
    box-shadow: none;
    outline: none;
}

#clearBt:hover {
    color: white;
    background: linear-gradient(230deg, #b37437 0%, rgb(0, 0, 0) 100%);
    cursor: pointer;
    -webkit-transition-property: background, color;
    transition-property: background, color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}